<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279121306393-pptubbcer7q3kv53te4uh62t38n1bg0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279121306393-pptubbcer7q3kv53te4uh62t38n1bg0i</string>
	<key>API_KEY</key>
	<string>AIzaSyB_LY0KVkM9vWWkAIH5W7pMB2wN0u77X-s</string>
	<key>GCM_SENDER_ID</key>
	<string>279121306393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acmApp</string>
	<key>PROJECT_ID</key>
	<string>csiauthentication-54e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>csiauthentication-54e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279121306393:ios:b30313a94a339a26075b88</string>
</dict>
</plist>